{% load static %}
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="icon" href="data:;base64,iVBORw0KGgo=" />
<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon" />
<script defer src="{% static 'js/ojs.js' %}"></script>
<script defer src="{% static 'js/main.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>

<script
  type="module"
  src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
></script>
<script
  nomodule
  src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/cam.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}" />
<link
  rel="icon"
  type="image/png"
  href="{% static 'images/icons/favicon.ico' %}"
/>
<!--===============================================================================================-->

<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"
/>
<!--===============================================================================================-->
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}"
/>
<!--===============================================================================================-->
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'vendor/animate/animate.css' %}"
/>
<!--===============================================================================================-->
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}"
/>
<!--===============================================================================================-->
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'vendor/animsition/css/animsition.min.css' %}"
/>
<!--===============================================================================================-->
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'vendor/select2/select2.min.css' %}"
/>
<!--===============================================================================================-->
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'vendor/daterangepicker/daterangepicker.css' %}"
/>
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
<!--===============================================================================================-->
