<div class="navigation">
  <ul>
    <!-- <li class="nv_list">
      <a>
        <span id="nv_icon">
          <ion-icon name="home-outline"></ion-icon>
        </span>
        <span id="nv_title">Home</span>
      </a>
    </li> -->
    <li class="nv_list nv_active">
      <a>
        <span id="nv_icon">
          <ion-icon name="person-outline"></ion-icon>
        </span>
        <span id="nv_title">User</span>
      </a>
    </li>
    <li class="nv_list">
      <a>
        <span id="nv_icon">
          <ion-icon name="radio-outline"></ion-icon>
        </span>
        <span id="nv_title">Live Class</span>
      </a>
    </li>
    <li class="nv_list">
      <a>
        <span id="nv_icon">
          <ion-icon name="calendar-outline"></ion-icon>
        </span>
        <span id="nv_title">Calendar</span>
      </a>
    </li>
    <li class="nv_list">
      <a href="/logout">
        <span id="nv_icon">
          <ion-icon name="log-out-outline"></ion-icon>
        </span>
        <span id="nv_title">Log Out</span>
      </a>
    </li>
  </ul>
</div>
