<!DOCTYPE html>
{% load static %}
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="keywords" content="Hacker Ton" />

    <title>안녕하세요. {{name}} 선생님</title>
    <script
      defer
      type="text/javascript"
      src="{% static 'js/cam.js' %}"
    ></script>
    {% include "head.html" %}
  </head>
  <body style="overflow-x: hidden; overflow-y: auto">
    <div class="intopage">
      <input id="username" /><button id="btn-join">Join Room</button>
    </div>
    <div class="site_board">
      {% include "navigator.html" %}
      <div class="board board_home board_display">
        <div>Hellow world</div>
      </div>
      <div class="board board_user board_display">
        <div class="user-from">
          <div id="user-from-title">I N F O</div>
          <div id="user-from-top">
            <div id="user-from-top-left">
              <div id="user-name">
                이름
                <input
                  type="text"
                  id="input-user-name"
                  placeholder="{{name}}"
                />
              </div>
              <div id="user-info">
                <p>담당 과목: {{ subject }}</p>
                <p>담임: {{grade}} - {{class}}</p>
              </div>
              <textarea
                type="text"
                id="tta-user-info"
                placeholder="나는 빠빡이다!!"
              ></textarea>
            </div>
            <div id="user-from-top-right">
              <div id="user-from-img">
                <img
                  style="
                    width: 140px;
                    background-color: aliceblue;
                    height: 140px;
                  "
                />
              </div>
            </div>
          </div>
          <div id="user-from-botten">
            <div id="user-from-liner1">
              <div id="user-from-liner2">
                <p>아직</p>
                <p>무엇을</p>
                <p>써야할지</p>
                <p>모르겟다</p>
                <p>그렇다</p>
              </div>
            </div>
          </div>
          <div id="user-from-sumit">확인</div>
        </div>
      </div>
      <div class="board board_Live">
        <div class="left_board">
          <div id="left_top_board">
            <div id="study_name">
              <p id="study_title">1교시 수학 수업시간</p>
              <div id="study_teacher">담당쌤 :</div>
            </div>
            <div id="main_video">
              여기 메인 비디오
              <div
                style="
                  height: 300px;
                  width: 100px;
                  background: #fff;
                  object-fit: cover;
                "
              >
                실험
              </div>
            </div>
          </div>
          <div id="left_botten_board">
            <div class="chating">
              채팅 장소
              <div id="chat_list">
                <lu id="message-list">
                  <li>
                    <p>선생님 : 떠든사람</p>
                  </li>
                  <li>
                    <p>누구누구 : 보노보노야</p>
                  </li>
                  <li>
                    <p>나다 : 여기서 끝이야</p>
                  </li>
                </lu>
              </div>
              <div id="chat_send">
                <input
                  type="text"
                  id="chat_input"
                  placeholder="유져 아이디 : "
                />
                <div id="btn-send-msg">버튼</div>
              </div>
            </div>
          </div>
        </div>

        <div class="right_board">
          <div class="connect_video">
            <div id="move_up">▲</div>
            <div class="sdp_videos">
              <video id="local-video" autoplay playsinline></video>
              <canvas
                id="localCanvas"
                style="position: absolute; display: none"
              ></canvas>
            </div>
            <div id="move_down">▼</div>
          </div>
          <button id="btn-toggle-audio">마이크</button>
          <button id="btn-toggle-video">Video Off</button>
          <button id="btn-toggle-save">Save Start</button>
        </div>
      </div>
      <div class="board board_calendar board_display">
        <div id="calendar">
          <p id="YEAR">2021</p>
          <p id="MONTH">7</p>
          <ul class="weekdays">
            {% for i in weakname %}
            <li>{{i}}</li>
            {% endfor %}
          </ul>
          {% for cal_week in bigcalendar %}
          <ul class="days">
            {% for cal_day in cal_week %}
            <li class="day">
              <div class="date">{{cal_day.date}}</div>
              {% for lecture in cal_day.lectures %}
              <div class="event">
                <div class="event-desc"></div>
                <div class="class_info">
                  {{lecture.grade_id.name}}-{{ lecture.class_id.name }}
                </div>
                <div class="subject">{{lecture.subject_id.name}}</div>

                <div class="event-time">
                  {{ lecture.get_class_time_display }}
                </div>
              </div>
              {% endfor %}
            </li>
            {% endfor %}
          </ul>
          {% endfor %}

          <!-- Days from previous month -->
          <!-- <ul class="days">
            <li class="day">
              <div class="date">Ev</div>
              <div class="event">
                <div class="event-desc">
                  HTML 5 lecture with Brad Traversy from Eduonix
                </div>
                <div class="event-time">1:00pm to 3:00pm</div>
              </div>
            </li>
          </ul> -->
        </div>
        <!-- /. calendar -->
      </div>
    </div>
    <div id="lecture-form-wrapper" class="hidden">
      {{lecture_form.as_p}}
      <button class="close" type="button">닫기</button>
      <button class="submit" type="button">등록</button>
    </div>
  </body>
</html>
